.variant { display: none }
.has-variant .variant { display: inline }
.unit
  pointer-events: none
  text-align: right
  margin: -1em .5em 0 0
  transform: translate(0,-.75em)
  transition: margin-right .15s ease-in-out
  line-height: 1em
  font-size: .75em
.is-invalid + .unit
  margin-right: 2.75em
img
  max-width: 100%
  max-height: 80vh
  width: 100%
